<div class="chat-container">
    <h2>WebSocket Chat (ID: {{ chatId }} )</h2>
    <div class="messages-container" #messagesContainer>
        <div *ngFor="let msg of messages">
            <div *ngIf="msg.Message == null">
                <app-user-connected-msg [message]="msg" />
            </div>
            <div *ngIf="msg.Message != null">
                <app-message [messageModel]="msg" />
            </div>            
        </div>
    </div>
    <div class="input-container">
        <input [(ngModel)]="message" type="text" placeholder="Type your message..." />
        <button (click)="sendMessage()">Send</button>
    </div>
</div>